@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 218.18deg 14.67% 85.29%;
    --input: 218.18deg 14.67% 85.29%;

    --primary: 217.5 23.53% 26.67%;
    --primary-foreground: 210 40% 98%;

    --navyBlue: 240 100% 8.82%;
    --navyBlue-foreground: 240 100% 8.82%;

    --bgColor: 200 37.5% 96.86%;
    --bgColor-foreground: 200 37.5% 96.86%;

    --menu: 0 0% 0% / 70%;
    --menu-foreground: 0 0% 0% / 70%;

    --blue: 240 100% 50%;
    --blue-foreground: 240 100% 50%;

    --secondary: 220.65 13.19% 46.08%;
    --secondary-foreground: 220.65 13.19% 46.08%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Juana';
  src: url('../public/fonts/juana/Juana-Light.woff2') format('woff2'),
    url('../public/fonts/juana/Juana-Light.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1920px;
}

/* @font-face {
  font-family: 'Juana';
  src: url('/fonts/juana/Juana-MediumIt.woff2') format('woff2'),
      url('/fonts/juana/Juana-MediumIt.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Juana';
  src: url('/fonts/juana/Juana-Light.woff2') format('woff2'),
      url('/fonts/juana/Juana-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Juana';
  src: url('/fonts/juana/Juana-LightIt.woff2') format('woff2'),
      url('/fonts/juana/Juana-LightIt.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
} */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    background: linear-gradient(117deg, #eff7ff -0.59%, #cedcec 100%);
  }
}

/* .bgimg{
  background-image: url(../public/images/bg.svg);
} */

.bg-admin {
  background: linear-gradient(117deg, #eff7ff -0.59%, #cedcec 100%);
}

.audioBox audio {
  height: 30px;
  margin: 5px 0px;
  width: -webkit-fill-available;
}
/* .advance {
  position: relative;
}
.advance.active a {
  font-weight: 500;
}
.advance.active span {
  display: block;
}
.advance span {
  display: none;
}
.advance.active span {
  position: absolute;
  top: -10.5px;
  left: -18px;
  z-index: -1;
} */
.rounded-input-1 {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.rounded-input-2 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tabs-images .active {
  background: #fff;
  border-radius: 4rem 4rem 0px 0px;
  position: relative;
  padding-bottom: 2rem;
}

.tabs-images .active svg path {
  stroke: #000;
}

.tabs-images .active::before {
  position: absolute;
  content: '';
  left: -2.6rem;
  top: 2.8rem;
  height: 100%;
  background-image: url(../public/images/Subtract.svg);
  width: 100%;
  z-index: -1;
}

.tabs-images .active::after {
  position: absolute;
  z-index: -1;
  content: '';
  left: 4.8rem;
  top: 2.8rem;
  height: 100%;
  background-image: url(../public/images/Subtract2.svg);
  width: 100%;
}

.tabs-images .accountTab-first .active::before {
  display: none;
}

.pac-container.pac-logo.hdpi {
  pointer-events: auto;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 3.7rem !important;
  line-height: 3rem !important;
}

.react-datepicker__month-container {
  font-size: 1.4rem !important;
}

.react-datepicker__current-month {
  padding-bottom: 1rem !important;
  font-size: 1.4rem !important;
}

.react-datepicker {
  border: 1px solid #e8e8e8 !important;
  border-radius: 1.2rem !important;
  overflow: hidden !important;
}

.react-datepicker-popper .react-datepicker__triangle {
  stroke: #dfdfdf !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: #0606a6 !important;
  color: #fff !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #0606a6 !important;
}

/* .tab-active {
  @apply font-recoleta text-xl mb-5 uppercase font-medium text-[#a3a3a4];
} */
#calendar_datepicker .react-datepicker-popper {
  left: 28px !important;
}
.active-notification{
  
  position: relative;
}
.active-notification::before {
  content: '';
height: .1rem;
max-width: 5rem;
  width: 100%;
  left: 0;
  background: #00F;
  position: absolute;
  bottom: 0;
}

body {
  pointer-events: auto !important;
}
#notifications::-webkit-scrollbar {
  display: none;
}

#filterForm::-webkit-scrollbar {
  display: none;
}
.react-time-picker__wrapper {
  border: none !important;
}
input.react-time-picker__inputGroup__input {
  border: none !important;
  outline: none !important;
  background-color: transparent !important;
}

.track-progessbar {
  background-image: url(../public/images/border-img.svg) !important;
  background-repeat: repeat-x !important;
}

.track-progessbar ul li .q {
  opacity: 0;
}
.track-progessbar ul li {
  position: relative;
  width: 100%;
}
.track-progessbar ul li .gray-circle {
  background: #f5f6f8;
  content: '';
  position: absolute;
  top: -1rem;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
}
.track-progessbar ul li .gray-circle::after {
  background: transparent;
  content: '';
  border: 2px solid #98a2b3;
  position: absolute;
  top: 1.2rem;
  border-radius: 100%;
  width: 1.6rem;
  left: 1.3rem;
  height: 1.6rem;
}
.track-progessbar ul li.active .gray-circle {
  display: none;
}

.track-progessbar ul li:first-child span {
  left: 0.4rem;
}
.track-progessbar ul li:last-child span {
  right: 1rem;
}

.track-progessbar ul li.active .q {
  opacity: 1;
  background: linear-gradient(to right, #4e54c81a, #8f94fb);
  box-shadow: -10px 0 47px -5px rgb(0 0 255 / 50%);

  /* background: rgba(255, 255, 255, 0.21); */
  backdrop-filter: blur(1.2rem);
  z-index: 50;
  position: absolute;
  padding: 1rem;
  top: -0.8rem;
  left: -0.5rem;
  padding: 1.8rem;
  border-radius: 100%;

  
}

.track-progessbar ul li.active .bar {
  position: absolute;
  width: 100%;
  height: 2.3rem;
  top: 0;
  left: 1.2rem;
  background: blue;
  border-radius: 6rem;
}
.track-progessbar ul li:last-child {
  width: auto;
}
.removeBar{
  /* display: none; */
}
.track-progessbar ul li.active .removeBar{
  background:red;
  position: absolute;
  width: 100%;
  height: 2.3rem;
  top: 0;
  left: 1.2rem;

  border-radius: 6rem;

}

